# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# AWS Lambda packages / layers
*.zip

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/

# Logs
*.log